.title__404{
    color: rgba(255, 96, 96, 1);
    font-size: 288px;
    text-align: center;
    font-weight: 700;
    line-height: 410px;
    margin: 0;
}

.error__message__404{
    color: rgba(255, 96, 96, 1);
    font-weight: 500px;
    font-size: 36px;
    line-height: 51px;
}

.homepage__link__404{
    color: rgb(0,0,0);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    display: inline-block;
    margin: 139px 0;
}