.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navbar__logo{
    width: 210px;
    height: 68px;
}

.navbar__menu{
    width: 100%;
    max-width: 300px;
}

.navbar__menu ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navbar__menu a{
    color: black;
    font-size: 24px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar__link__active{
    text-decoration: underline !important;
}

@media screen and (max-width: 650px) {
    .navbar__logo{
        width: 145px;
        height: 46px;
    }

    .navbar__menu ul{
        justify-content: center;
    }

    .navbar__menu a{
        font-size: 18px;
        margin-left: 30px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 490px) {
    .navbar__logo{
        width: 115px;
        height: 35px;
    }
    
    .navbar__menu a{
        font-size: 15px;
    }
}

@media screen and (max-width: 368px) {
    .navbar{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    .navbar__logo{
        width: 145px;
        height: 46px;
    }

    .navbar__menu ul{
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 255px) {
    .navbar__menu a{
        margin-left: 0;
    }
}